$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-background: #F6F6F6;
$color-background-header: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$color-text: #4C4C4C;
$color-header: #545454;
$color-paragraphS: #B2B2B2;
$color-light: #FFFFFF;
$color-menu: #CDCDCD;
$color-text-button: #292929;

$content-width: 1280px;
$tablet-width-max: 1279.9px;
$tablet-width-min: 768px;
$mobile-width-max: 767.9px;
$mobile-width-min: 320px;
