@mixin font ($size, $line-height, $color:#545454, $weight: 400, $style: normal) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}
