.wrapper__help {
    display: flex;
    flex-direction: column;
    padding: 77px 68px 100px;
    align-items: center;
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
        padding: 77px 30px 103px;
    }
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        flex-direction: column;
        padding: 40px 10px 42px;
    }    
}

.help__title {
    max-width: 310px;
    text-align: center;
    margin-bottom: 60px;
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        @include font (2.5rem, 3.2rem, $color-header);
        max-width: 250px;
        text-align: center;
        margin-bottom: 42px;
    }
}

.help {
    display: flex;
    column-gap: 120px;
    justify-content: center;
    row-gap: 59px;
    width: 100%;
    flex-wrap: wrap;
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
        flex-direction: column;
        max-width: 630px;
        max-height: 449px;
        column-gap: 65px;
        row-gap: 55px;
        justify-content: space-between;
    }
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        flex-wrap: wrap;
        column-gap: 0%;
        row-gap: 30px;
        justify-content: space-between;
    }
}

.wrapper__help-item {
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        max-width: 130px;
        img {
            max-height: 50px;
        }
    }
}

.help-item__name {
    margin-top: 30px;
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        @include font (1.5rem, 1.7rem, $color-header);
        margin-top: 20px;
    }
}

