.wrapper__pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
        padding-bottom: 100px;
    }
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        flex-direction: column;
        max-width: 320px;
        padding: 42px 10px 42px;
    }
}

.wrapper__pets_our-pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
        padding-bottom: 76px;
    }
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        flex-direction: column;
        max-width: 320px;
        padding: 42px 10px 42px;
    }
}

.pets__title {
    max-width: 400px;
    text-align: center;
    margin-bottom: 60px;
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
        margin-bottom: 60px;
    }
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        @include font (2.5rem, 3.2rem, $color-header);
        max-width: 300px;
        text-align: center;
        margin-bottom: 42px;
    }
}

.pets__title_our-pets {
    max-width: 400px;
    text-align: center;
    margin-bottom: 60px;
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
        margin-bottom: 30px;
    }
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        @include font (2.5rem, 3.2rem, $color-header);
        max-width: 300px;
        text-align: center;
        margin-bottom: 42px;
    }
}
