.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 42px;
        div:nth-child(3) {
            display: none;
        }
        div:nth-child(4) {
            display: none;
        }
    }
}

.card_tablet {
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
        display: none;
    }
}

.slider_catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
        justify-content: center;
        column-gap: 6%;
        max-width: 905px;
        margin-bottom: 10px;
        div:nth-last-child(-n+2) {
            display: none;
        }
    }
    @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        div:nth-last-child(-n+5) {
            display: none;
        }
    }
}